@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  
}


.darkmode-shadow {
    box-shadow: 7px 10px 35px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 10px 35px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 10px 35px -3px rgba(0,0,0,0.75);
}

.nav-shadow {
    box-shadow: 7px 0px 14px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 0px 14px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 0px 14px -4px rgba(0,0,0,0.75);
}

.tsize-big {
    font-size : clamp(3.05rem, 3.54vw + 2.17rem,5rem);
}